@charset "UTF-8";
/* 16px */
/* 24px */
/* 32px */
/* 80px */
html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Yu Gothic", "游ゴシック", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2d2d2d;
}

small {
  font-size: 0.8em;
}

a:hover {
  opacity: 0.8;
}

a:focus:not(:fous-visible), button:focus:not(:fous-visible) {
  outline: unset;
}

a:focus-visible, button:focus-visible {
  outline: 2px dashed rgba(62, 108, 224, 0.8);
  border-radius: 4px;
}

.l-wrap {
  position: relative;
  width: 100%;
  max-width: 540px;
  margin: auto;
}

.l-main {
  width: 100%;
  margin: auto;
}

.l-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100vh;
  padding: 3.2rem 0 10rem;
  overflow-y: scroll;
  background-color: #FFFFFF;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 1s;
}
.l-modal.is-show {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.l-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
}

.c-button {
  display: inline-block;
  padding-bottom: 8px;
  padding-right: 8px;
}
.c-button__inner {
  display: block;
  position: relative;
  padding: 0.5em 1em;
  color: #2d2d2d;
  border: 2px solid #2d2d2d;
  border-radius: 4px;
  background: #FFFFFF;
  -webkit-appearance: none;
}
.c-button__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 2px solid #2d2d2d;
  border-radius: 4px;
  background-color: #FFFFFF;
  background: repeating-linear-gradient(-50deg, #2d2d2d 0, #2d2d2d 2px, transparent 2px, transparent 8px);
}
.c-button:hover {
  padding-top: 8px;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 0;
}
.c-button:hover .c-button__inner {
  color: #FFFFFF;
  background-color: #2d2d2d;
}
.c-button:hover .c-button__inner::before {
  top: 0;
  left: 0;
}

.p-home {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 3.2rem;
  text-align: center;
}
.p-home__img {
  width: 100%;
}
.p-home__button {
  margin-top: 2.4rem;
}
.p-home.is-hide {
  pointer-events: none;
}

.p-omikuji {
  width: 90%;
  max-width: 390px;
  margin: auto auto 3.2rem;
  padding: 4px;
  border: 12px solid #e04c3e;
  opacity: 0;
  transform: scale(4);
  transition-duration: 0.2s;
}
.p-omikuji.is-show {
  transform: scale(1);
  opacity: 1;
}
.p-omikuji__inner {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr auto;
  padding: 1.6rem 3.2rem;
  border: 2px solid #e04c3e;
}
.p-omikuji__fortune {
  grid-row: 1/2;
  grid-column: 1/3;
  width: 100%;
  margin: 1.6rem auto 3.2rem;
  padding-bottom: 3.2rem;
  border-bottom: 3px solid #e04c3e;
  font-family: "Zen Antique", serif;
  font-size: 5em;
  line-height: 1;
  letter-spacing: 0.075em;
  text-align: center;
  color: #e04c3e;
}
.p-omikuji__fortune span {
  display: inline-block;
  opacity: 0;
  transform: scale(8);
  transition-duration: 0.2s;
}
.p-omikuji__fortune span.is-show {
  opacity: 1;
  transform: scale(1);
}
.p-omikuji__kotowaza {
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 0 2.4rem;
  font-family: "Zen Antique", serif;
  font-size: 1.5em;
  line-height: 1.75;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  opacity: 0;
  transition-duration: 1s;
}
.p-omikuji__kotowaza.is-show {
  opacity: 1;
}
.p-omikuji__comment {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-left: 2.4rem;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  opacity: 0;
  transition-duration: 1s;
}
.p-omikuji__comment.is-show {
  opacity: 1;
}
.p-omikuji__img {
  display: block;
  grid-row: 3/4;
  grid-column: 1/3;
  width: 100%;
  margin-top: 3.2rem;
  opacity: 0;
  transition-duration: 1s;
}
.p-omikuji__img.is-show {
  opacity: 1;
}

.p-replay {
  margin: 3.2rem auto auto;
  text-align: center;
}

.p-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.6rem 2.4rem;
  align-items: baseline;
}
.p-footer__link {
  display: flex;
  gap: 0.3em;
  height: 1em;
  font-size: 2em;
  line-height: 1;
  text-align: right;
}
.p-footer__link * {
  display: inline-block;
  width: auto;
  height: 1em;
  color: #434D41;
}

/*# sourceMappingURL=style.css.map */
