.l-footer {
    &__copyright, &__links {
        position: fixed;
        bottom: 0;
        z-index: 99;
        padding: $space-sm;
    }
    &__copyright {
        left: 0;
    }
    &__links {
        right: 0;
    }
}