.p-omikuji {
    width: 100%;
    margin: auto;
    &__img {
        width: 90vw;
        max-width: 540px;
        height: 90vw;
        max-height: 540px;
        margin: auto;
        & img {
            display: block;
            width: 100%;
            margin: auto;
        }
    }
    &__button {
        display: block;
        margin: $space-md auto;
    }
}